.BlogPage-post-list {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  max-width: 600px;
}

.BlogPage-post-list li {
  margin-bottom: 0.8rem;
  transition: background 0.2s ease;
}

.BlogPage-post-list li:last-child {
  border-bottom: none;
}

.BlogPage-post-list li a {
  font-size: 8pt;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: #1e3a8a;
  transition: color 0.2s ease;
  display: block;
}

.BlogPage-post-list li:hover {
  background: #f3f4f6;
}

.BlogPage-post-list li a:hover {
  color: #2563eb;
}
